<%- include('partials/header') -%>
<h1> This is the discover page where you can connect with other gamers </h1>
<!-- Similar to home page but need to create its own schema for each profile/discover card -->
<%- include('partials/footer') -%>