*{
    box-sizing: border-box;
}

.posts{
    border: 1px solid rgba(106, 106, 106, 0.144);
}
.posts:hover{
    background-color: rgba(170, 170, 170, 0.060);
}
img{
    /* max-height: 200px; */
}


.postForm{
    padding:10px;
    border:0;
    width:75%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
                0 2px 2px rgba(0,0,0,0.15), 
                0 4px 4px rgba(0,0,0,0.15), 
                0 8px 8px rgba(0,0,0,0.15);;
}
.formContainer{
    display: flex;
    justify-content: center;
}
.postInput{
    border: none;
    width: 100%;
    height:100%;
}
.postButtons{
    display: flex;
    justify-content: space-between;
}
.postContainer{
    display:flex;
    width:75%;
    /* border: 1px solid rgba(64, 63, 63, 0.046); */
    
}
.centerContainer{
    display: flex;
    justify-content: center;
}
.postContainer .postH1{
    text-decoration: none;
    color:black;
    font-weight: 200;
    font-size: 2em;
}
.postContainer a{
    color:black;
    text-decoration: none;
}
.postContent, .postPageComment {
    white-space: pre-line;
  }
 .platformTitle{
    margin-top:50px;
 }
 .profilePic{
    height:70px;
    width:70px;
    border-radius: 50%;
    
}